In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Carregar o arquivo CSV
df = pd.read_csv('data_science_salaries_traduzido.csv')

# Definir conexão com o MySQL
usuario = 'root'  # seu usuário do MySQL
senha = '3101'  # sua senha do MySQL
host = 'localhost'  # ou o endereço do seu servidor MySQL
porta = '3306'  # porta padrão do MySQL
database = 'dados_cargos'  # nome do banco de dados

# Criar a string de conexão
conn_str = f'mysql+pymysql://{usuario}:{senha}@{host}:{porta}/{database}'
engine = create_engine(conn_str)

# Carregar os dados no MySQL
df.to_sql('salarios_data_science', con=engine, if_exists='replace', index=False)

print("Dados carregados com sucesso no MySQL!")

Dados carregados com sucesso no MySQL!

In [4]:
df = pd.read_csv('C:/workspace/Data Science Jobs/data_science_salaries_traduzido.csv')

In [6]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'data_science_job_clean.csv', 'data_science_salaries_traduzido.csv', 'Untitled.ipynb']

In [7]:
import pandas as pd

# Carregar o arquivo CSV
df = pd.read_csv('data_science_salaries_traduzido.csv')

# Exibir os nomes das colunas
print(df.columns)

Index(['índice', 'ano', 'nível_de_experiência', 'tipo_de_emprego', 'cargo',
       'salário', 'moeda_do_salário', 'salário_em_usd',
       'residência_do_funcionário', 'proporção_remota',
       'localização_da_empresa', 'tamanho_da_empresa'],
      dtype='object')

In [8]:
# Exibir os valores únicos na coluna 'residência_do_funcionário'
print(df['residência_do_funcionário'].unique())

['DE' 'JP' 'GB' 'HN' 'US' 'HU' 'NZ' 'FR' 'IN' 'PK' 'PL' 'PT' 'CN' 'GR'
 'AE' 'NL' 'MX' 'CA' 'AT' 'NG' 'PH' 'ES' 'DK' 'RU' 'IT' 'HR' 'BG' 'SG'
 'BR' 'IQ' 'VN' 'BE' 'UA' 'MT' 'CL' 'RO' 'IR' 'CO' 'MD' 'KE' 'SI' 'HK'
 'TR' 'RS' 'PR' 'LU' 'JE' 'CZ' 'AR' 'DZ' 'TN' 'MY' 'EE' 'AU' 'BO' 'IE'
 'CH']

In [9]:
# Dicionário de siglas para nomes completos dos países
siglas_para_paises = {
    'DE': 'Alemanha', 
    'JP': 'Japão',
    'GB': 'Reino Unido', 
    'HN': 'Honduras',
    'US': 'Estados Unidos',
    'HU': 'Hungria',
    'NZ': 'Nova Zelândia',
    'FR': 'França',
    'IN': 'Índia',
    'PK': 'Paquistão',
    'PL': 'Polônia',
    'PT': 'Portugal',
    'CN': 'China',
    'GR': 'Grécia',
    'AE': 'Emirados Árabes Unidos',
    'NL': 'Países Baixos',
    'MX': 'México',
    'CA': 'Canadá',
    'AT': 'Áustria',
    'NG': 'Nigéria',
    'PH': 'Filipinas',
    'ES': 'Espanha',
    'DK': 'Dinamarca',
    'RU': 'Rússia',
    'IT': 'Itália',
    'HR': 'Croácia',
    'BG': 'Bulgária',
    'SG': 'Cingapura',
    'BR': 'Brasil',
    'IQ': 'Iraque',
    'VN': 'Vietnã',
    'BE': 'Bélgica',
    'UA': 'Ucrânia',
    'MT': 'Malta',
    'CL': 'Chile',
    'RO': 'Romênia',
    'IR': 'Irã',
    'CO': 'Colômbia',
    'MD': 'Moldávia',
    'KE': 'Quênia',
    'SI': 'Eslovênia',
    'HK': 'Hong Kong',
    'TR': 'Turquia',
    'RS': 'Sérvia',
    'PR': 'Porto Rico',
    'LU': 'Luxemburgo',
    'JE': 'Jersey',
    'CZ': 'República Tcheca',
    'AR': 'Argentina',
    'DZ': 'Argélia',
    'TN': 'Tunísia',
    'MY': 'Malásia',
    'EE': 'Estônia',
    'AU': 'Austrália',
    'BO': 'Bolívia',
    'IE': 'Irlanda',
    'CH': 'Suíça'
}

# Carregar o arquivo CSV
df = pd.read_csv('data_science_salaries_traduzido.csv')

# Substituir as siglas na coluna 'residência_do_funcionário' pelos nomes completos
df['residência_do_funcionário'] = df['residência_do_funcionário'].map(siglas_para_paises).fillna(df['residência_do_funcionário'])

# Exibir os primeiros registros para verificar a mudança
print(df.head())

   índice   ano nível_de_experiência tipo_de_emprego  \
0       0  2020                   MI              FT
1       1  2020                   SE              FT
2       2  2020                   SE              FT
3       3  2020                   MI              FT
4       4  2020                   SE              FT

                        cargo  salário moeda_do_salário  salário_em_usd  \
0              Data Scientist    70000              EUR           79833
1  Machine Learning Scientist   260000              USD          260000
2           Big Data Engineer    85000              GBP          109024
3        Product Data Analyst    20000              USD           20000
4   Machine Learning Engineer   150000              USD          150000

  residência_do_funcionário  proporção_remota localização_da_empresa  \
0                  Alemanha                 0               Alemanha
1                     Japão                 0                  Japão
2               Reino Unido                50            Reino Unido
3                  Honduras                 0               Honduras
4            Estados Unidos                50         Estados Unidos

  tamanho_da_empresa
0                  L
1                  S
2                  M
3                  S
4                  L

In [10]:
# Salvar as alterações em um novo arquivo CSV
df.to_csv('data_science_salaries_traduzido_atualizado.csv', index=False)

print("Arquivo salvo com sucesso!")

Arquivo salvo com sucesso!

In [11]:
# Exibir os valores únicos da coluna 'nível_de_experiência'
print(df['nível_de_experiência'].unique())

['MI' 'SE' 'EN' 'EX']

In [12]:
# Criar um dicionário de substituição
substituicoes = {
    'MI': 'Pleno',
    'SE': 'Sênior',
    'EN': 'Júnior',
    'EX': 'Especialista'
}

# Substituir as siglas pelos nomes completos
df['nível_de_experiência'] = df['nível_de_experiência'].map(substituicoes)

# Verificar as alterações
print(df['nível_de_experiência'].unique())

['Pleno' 'Sênior' 'Júnior' 'Especialista']

In [13]:
# Exibir os valores únicos da coluna 'tipo_de_emprego'
print(df['tipo_de_emprego'].unique())

['FT' 'CT' 'PT' 'FL']

In [14]:
# Criar um dicionário de substituição
substituicoes_tipo_emprego = {
    'FT': 'Tempo Integral',
    'CT': 'Contratado',
    'PT': 'Meio Período',
    'FL': 'Freelancer'
}

# Substituir as siglas pelos nomes completos
df['tipo_de_emprego'] = df['tipo_de_emprego'].map(substituicoes_tipo_emprego)

# Verificar as alterações
print(df['tipo_de_emprego'].unique())

['Tempo Integral' 'Contratado' 'Meio Período' 'Freelancer']

In [15]:
# Exibir os valores únicos da coluna 'tamanho_da_empresa'
print(df['tamanho_da_empresa'].unique())

['L' 'S' 'M']

In [16]:
# Criar um dicionário de substituição
substituicoes_tamanho_empresa = {
    'L': 'Grande',
    'M': 'Média',
    'S': 'Pequena'
}

# Substituir as siglas pelos nomes completos
df['tamanho_da_empresa'] = df['tamanho_da_empresa'].map(substituicoes_tamanho_empresa)

# Verificar as alterações
print(df['tamanho_da_empresa'].unique())

['Grande' 'Pequena' 'Média']

In [17]:
# Verificar os valores únicos na coluna 'proporção_remota'
print(df['proporção_remota'].unique())

[  0  50 100]

In [18]:
# Criar um dicionário de substituição
substituicoes_proporcao_remota = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
}

# Substituir os valores
df['proporção_remota'] = df['proporção_remota'].map(substituicoes_proporcao_remota)

# Verificar as alterações
print(df['proporção_remota'].unique())

['Presencial' 'Híbrido' 'Remoto']

In [19]:
# Verificar os primeiros valores da coluna 'salário_em_usd'
print(df['salário_em_usd'].head())

# Verificar se existem valores faltantes
print(df['salário_em_usd'].isnull().sum())

# Verificar estatísticas descritivas, como média, mediana, etc.
print(df['salário_em_usd'].describe())

0     79833
1    260000
2    109024
3     20000
4    150000
Name: salário_em_usd, dtype: int64
0
count       607.000000
mean     112297.869852
std       70957.259411
min        2859.000000
25%       62726.000000
50%      101570.000000
75%      150000.000000
max      600000.000000
Name: salário_em_usd, dtype: float64

In [20]:
# Salvar o DataFrame modificado em um novo arquivo CSV
df.to_csv('data_science_salaries_traduzido_modificado.csv', index=False)

In [22]:
import pandas as pd
from sqlalchemy import create_engine

# Defina as variáveis corretamente
user = 'root'  # seu usuário
password = '3101'  # sua senha (substitua com a senha correta)
host = 'localhost'  # ou o IP do seu servidor MySQL
database = 'salarios_emprego'  # nome do banco de dados

# Criar a conexão
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{database}')

# Carregar os dados modificados
df = pd.read_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/data_science_salaries_traduzido_modificado.csv')

# Verificar as primeiras linhas para conferir
df.head()

# Carregar os dados na tabela do MySQL
df.to_sql('salarios_emprego', con=engine, if_exists='replace', index=False)

# Verifique a inserção no MySQL executando uma consulta como:
# SELECT * FROM salarios_emprego;

607